- var b1 = "<a class='btn primary lg icons'>star</a>";
- var b2 = "<a class='btn secondary lg icons'>star</a>";
- var b3 = "<a class='btn primary md icons'>school</a>";
- var b4 = "<a class='btn secondary md icons'>school</a>";
- var b5 = "<a class='btn primary sm icons'>notifications</a>";
- var b6 = "<a class='btn secondary sm icons'>notifications</a>";
- var b7 = "<a class='btn primary xs icons'>face</a>";
- var b8 = "<a class='btn secondary xs icons'>face</a>";


doctype html
html(lang="en")
  head
      include generic.header.pug
  body
    .app.doc
      include generic.nav.pug
      .grid
        include generic.sidebar.pug
        .col-xs-12.col-md-9
          .col-xs-12.col-sm-12
            h1 Icon only Buttons
            p For more icon details, please visit 
              a(href="https://material.io/icons/") Material Icon official website. 
          .col-xs-12.col-sm-12: h3 Primary Color
          .grid: .col: pre
            code #{b1}
            code #{b3}
            code #{b5}
            code #{b7}
          .grid: .col.center-v !{b1} !{b3} !{b5} !{b7}
            hr
          .col-xs-12.col-sm-12: h3 Secondary Color
          .grid: .col: pre
            code #{b2}
            code #{b4}
            code #{b6}
            code #{b8}
          .grid: .col.center-v !{b2} !{b4} !{b6} !{b8}
